* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  font-family: 'Oxygen', sans-serif;
  min-height: 100vh;
}

/* le wrapper + au centre de la page */
.login-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* formulaire */
.form {
  position: relative;
  width: 600px;
  height: 400px;
  max-width: 500px;
  padding: 100px 40px 40px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

.form::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  transform-origin: bottom left;
  border-radius: 10px;
  pointer-events: none;
}

/* le logo au centre et en haut du formulaire */
.form h1 {
  position: absolute;
  top: 30px;
  left: calc(50% - 170px);
	color: whitesmoke;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 30px;
	font-weight: bold;
}

/* style des inputs du formulaire */
.form .input-group {
  position: relative;
  margin-top: 30px;
}

.form .input-group input {
  width: 100%;
  padding: 10px 0;
  font-size: 1rem;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background-color: transparent;
  color: whitesmoke;
}

.form .input-group label {
  position: absolute;
  top: -20px;
  left: 0;
  padding: 10px 0;
  font-size: 1rem;
  pointer-events: none;
  color: #6ebec5;
}

/* bouton connexion */
.submit-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border: none;
  outline: none;
  background: #6ebec5;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* bouton connexion par dessus */
.submit-btn:hover {
  background: #62aab1;
}