*{
	margin: 0px;
	padding: 0px;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}

body{
	width: 100%;
}

nav{
	background-color: #6ebec5;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

/* logo */
.logo a{
	text-decoration: none;
	color: whitesmoke;
}

.logo{
	color: whitesmoke;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 20px;
	font-weight: bold;
}

/* navbar */
.menu{
	display: flex;
	justify-content: space-around;
	width: 30%;
}

/* navbar lien */
.menu a{
	display: block;
	text-decoration: none;
	letter-spacing: 3px;
	color: white;
	font-weight: bold;
	font-size: 14px;
	padding: 22px 14px;
}

/* navbar liste */
.menu li{
	list-style: none;
}

nav ul li{
	position: relative;
}

nav ul li:hover{
	background-color: rgb(37, 123, 128);
}

/* navbar sous menu */
nav ul li ul{
	display: none;
	position: absolute;
	background-color: #90d0cb;
	padding: 0;
}

/* navbar sous menu hover */
nav ul li:hover ul{
	display: block;
}

nav ul li ul li{
	width: 200px;
	background-color: #62aab1;
}

nav ul li ul li a{
	padding: 8px 14px;
}

/* navbar sous menu hover */
nav ul li ul li a:hover{
	background-color: rgb(37, 123, 128);
}

/* style du bouton de deconnexion sur la navbar */
.deconnexion{
	background-color: #518e94;
}

.deconnexion:hover{
	background-color:  rgb(37, 123, 128);
}



