*{
	margin : 0;
	padding: 0;
}

/* sticky footer flex + flex-grow */
body{
	background-color: whitesmoke;
	font-family: 'Oxygen', sans-serif;
	min-height:100vh;
	display:flex;
	flex-direction:column;
}

.contenu{
	flex-grow:1;
}

/* titre */

.titre{
	text-align: center;
	margin-top: 3%;
	margin-bottom: 3%;
}

.titre h2{
	font-size: 35px;
	color: black;
	font-weight: bold;
	display: inline;
}

.titre img{
	width: 50px;
	height: 50px;
	margin-right: 1em;
}

/* sous titre */
.soustitre{
	font-size: 18px;
	font-weight: 700;
	text-align: center;
}

/* style des tableaux */
table {
	table-layout: fixed;
	width: 50%;
	border-collapse: collapse;
	margin: 20px auto;
}


th,td{
	padding: 12px 15px;
	border: 2px solid #0e2b40;
	text-align: center;
	color: black;
}

/* style des input*/
input{
	padding: 10px;
	font-style: inherit;
}

input[type="button"]{
	display: block;
	width: 344px;
	height: 45px;
	border: none;
	background: #0e2b40;
	color : white;
	font-size: 15px;
	font-weight: normal;
	margin : 10px auto;
	border-radius: 5px;
}

input[type="button"]:hover{
	width: 344px;
	height: 45px;
	border: solid #f49d18;
	background: #f49d18;
	color : white;
	font-size: 15px;
	border-radius: 5px;
}