*{
	margin : 0;
	padding: 0;
}

/* sticky footer flex + flex-grow */
body{
	background-color: whitesmoke;
	font-family: 'Oxygen', sans-serif;
	min-height:100vh;
	display:flex;
	flex-direction:column;
}

.contenu{
	flex-grow:1;
}

/* titre de la page */

.titre{
	text-align: center;
	margin-top: 3%;
	margin-bottom: 30px;
}

.titre h2{
	font-size: 35px;
	color: black;
	font-weight: bold;
	display: inline;
}

.titre img{
	width: 50px;
	height: 50px;
	margin-right: 1em;
}

/* interieur du tableau */
.content-table {
	border-collapse: collapse;
	margin: 10px auto;
	font-size: 0.9em;
	min-width: 600px;
	overflow: hidden;
	border-color: #0e2b40;
	border: 1px solid black;
}

/* haut du tableau */
.content-table thead tr {
	background-color: #0e2b40;
	color: white;
	text-align: center;
	font-weight: bold;
}
.content-table thead tr td{
	padding: 1em;
}

/* cellule des donnees du tableau */
.content-table td {
	padding: 12px 15px;
	text-align: center;
	border-bottom: 1px solid black;
}

.content-table tbody tr{
	background-color: #fdfdfd;
}

/* input */
input{
	padding: 10px;
}

/* input button submit reset */
input[type="button"]{
	display: block;
	width: 344px;
	height: 45px;
	border: none;
	background: #0e2b40;
	color : white;
	font-size: 15px;
	font-weight: normal;
	margin : auto;
	margin-top: 25px;
	border-radius: 5px;
}

/* input hover submit reset */
input[type="button"]:hover{
	width: 344px;
	height: 45px;
	border: solid #f49d18;
	background: #f49d18;
	color : white;
	font-size: 15px;
	border-radius: 5px;

}

.delete-img{
	width: 20px;
	height: 20px;
}
