*{
    margin: 0;
    padding: 0;
	font-family: 'Poppins', sans-serif;
}

/* sticky footer flex + flex-grow */
body{
	background-color: whitesmoke;
	min-height:100vh;
	display:flex;
	flex-direction:column;
}

/* icones des menus dans la page principale*/
img{
    height: 150px;
    width: 150px;
}

/* page centrale */
.contenu{
    min-height: 100%;
    display: flex;
    align-items: center;
	justify-content: center;
	flex-grow:1;
	text-align: center;
}

/* navigation par les icones de la page centrale */
.patient{
	border-style: solid;
	margin-right: 1em;
	margin-bottom: 1em;
	border-width: 0.5px;
	padding: 2em 0 0 0;
}

.medecin{
	border-style: solid;
	margin-left: 1em;
	margin-bottom: 1em;
	border-width: 0.5px;
	padding: 2em 0 0 0;
}

.consultation{
	border-style: solid;
	margin-right: 1em;
	margin-top: 1em;
	border-width: 0.5px;
	padding: 2em 0 0 0;
}

.stats{
	border-style: solid;
	margin-left: 1em;
	margin-top: 1em;
	border-width: 0.5px;
	padding: 2em 0 0 0;
}

/* input du bouton de type button */
input[type="button"]{
	display: block;
	margin-top: 2em;
	width: 344px;
	height: 45px;
	border: none;
	background:  #0e2b40;
	color : white;
	font-size: 15px;
	font-weight: bold;
}

/* hover du bouton de type button */
input[type="button"]:hover{
	width: 100%;
	height: 45px;
	background: #f49d18;
	color : white;
	font-size: 15px;

}