<!-- Barre de navigation -->
<nav>
    <!-- Ajout du Logo -->
    <div class="logo">
        <a href="accueil.php">
            <h1>Cabinet Medical</h1>
        </a>
    </div>
    <!-- Ajout des menus et des sous menus-->
    <ul class="menu">
        <li>
            <a>Patient</a>
            <ul>
                <li>
                    <a href="ajouterpatient.php">Ajouter</a>
                </li>
                <li>
                    <a href="affichagepatient.php">Liste</a>
                </li>
            </ul>
        </li>
        <li>
            <a>Médecin</a>
            <ul>
                <li>
                    <a href="ajoutermedecin.php">Ajouter</a>
                </li>
                <li>
                    <a href="affichagemedecin.php">Liste</a>
                </li>
            </ul>
        </li>
        <li>
            <a>Consultation</a>
            <ul>
                <li>
                    <a href="ajouterconsultation.php">Ajouter</a>
                </li>
                <li>
                    <a href="affichageconsultation.php">Liste</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="stats.php">Statistiques</a>
        </li>
        <li>
            <a class="deconnexion" href="deconnexion.php">Déconnexion</a>
        </li>
    </ul>

</nav>